@mixin flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}



@mixin space-around {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin size-modifier($small, $medium, $large) {
  &sm-img {
      font-size: $small;
      width: 180px;
      height: 180px;
  }

  &--md {
      font-size: $medium;
      width: 200px;
      height: 200px;
  }

  &--lg {
      font-size: $large;
      width: 250px;
      height: 250px;
  }
}
  